:root {
  --primary-bg: white;
  --top-bg: #f5f7ff;
  --card-bg: #f0f2fa;
  --primary-text: #1e202a;
  --secondary-text: #63687e;
  --box-hover: #e5e7f0;
  --toggle: #aeb3cb;
}

.dark-theme {
  --primary-bg: #1e202a;
  --top-bg: #1f212e;
  --card-bg: #252a41;
  --primary-text: white;
  --secondary-text: #8b97c6;
  --box-hover: #374062;
  --toggle: linear-gradient(to right, #378fe6, #3eda82);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-style: 14px;
}

body {
  background: linear-gradient(to bottom, var(--top-bg) 32vh, var(--primary-bg) 32vh) no-repeat;
  color: var(--primary-text);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 2.5em 1.5em;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  margin-bottom: 1.25em;
  flex: 1 1 100%;
}

.header__title,
.overview__title {
  margin: 0;
  font-size: 1.5rem;
}

.header__subtitle {
  font-weight: 700;
  margin: .25em 0 1em 0;
  color: var(--secondary-text);
}

.theme-switcher-container {
  color: var(--secondary-text);
  font-weight: 700;
  border-top: 2px solid var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.theme-switcher-container p {
  margin: 0;
}

.switch-toggle {
  background: var(--toggle);
  width: 55px;
  height: 26px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.switch-toggle:hover {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.switch {
  background-color: var(--card-bg);
  position: absolute;
  width: 35%;
  height: 77%;
  border-radius: 100%;
  top: 50%;
  right: 7%;
  transform: translate(0, -50%);
  transition: transform .2s ease;
}

.switch--left {
  transform: translate(-150%, -50%);
}

.social-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5em;
  flex: 1 1 100%;
}

.social-box {
  background-color: var(--card-bg);
  padding: 2em 0 1.75em;
  flex: 1 1 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25em .5em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  position: relative;
}

.social-box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top: -3px;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
}

.social-box:hover {
  cursor: pointer;
  background-color: var(--box-hover);
}

.social-box:nth-child(2)::before {
  background-color: #198ff5;
}

.social-box:nth-child(3)::before {
  background-color: #1ca0f2;
}

.social-box:nth-child(4)::before {
  background: linear-gradient(to right, #fdc468, #df4996);
}

.social-box:nth-child(5)::before {
  background-color: #c4032a;
}

.social-box__id {
  color: var(--secondary-text);
}

.social-box__id,
.changes {
  font-size: .8rem;
  font-weight: 700;
}

.social-box__followers {
  flex: 1 0 100%;
  text-align: center;
}

.social-box__followers p {
  margin: 0;
  text-transform: uppercase;
  color: var(--secondary-text);
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .3em;
}

.follower-count {
  font-size: 3rem;
  font-weight: 700;
}

.changes {
  color: #1db489;
  position: relative;
}

.changes::before {
  content: url("../../images/icon-up.svg");
  position: absolute;
  left: -11px;
  top: -2px;
}

.changes--falling {
  color: #dc414c;
}

.changes--falling::before {
  content: url("../../images/icon-down.svg");
}

.overview__title {
  color: var(--secondary-text);
  margin: 1.75em 0 .5em;
  flex: 1 0 100%;
}

.dark-theme .overview__title {
  color: var(--primary-text);
}

.overview-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
}

.overview-box {
  background-color: var(--card-bg);
  border-radius: .4em;
  padding: 1.5em 1.5em 1em;
  flex: 1 1 250px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  gap: 1.5em 0;
}

.overview-box:hover {
  cursor: pointer;
  background-color: var(--box-hover);
}

.overview-box__heading {
  font-weight: 700;
  color: var(--secondary-text);
}

.overview-box__logo {
  justify-self: end;
}

.overview-box__statistic {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .header__subtitle {
    flex: 1 1 100%;
    order: 1;
  }
  .theme-switcher-container {
    border: none;
    padding: 0;
    justify-content: end;
    gap: 1em;
  }
}

@media (min-width: 830px) {
  body {
    max-width: 80vw;
    margin: 0 auto;
  }
  .header__title {
    font-size: 1.7rem;
  }
  .overview__title {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */